a.pdf { /*The background image*/
	background: url(../images/pdf.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px; /* To center the text vertically with the icon */
}

a.txt { /*The background image*/
	background: url(../images/txt.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px;
}

a.zip { /*The background image*/
	background: url(../images/zip.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px;
}

a.email {
	background: url(../images/email.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px;
}

a.film {
	background: url(../images/film.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px;
}

a.mp3 {
	background: url(../images/mp3.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px;
}

a.external {
	background: url(../images/ext_link.png) no-repeat left center;
	padding-left: 20px;
	line-height: 16px;
}

td.downloadtd:hover{
	border: 1px solid rgba(142, 178, 255, .75);
  	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
	
	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
	
	/* gradients */
	color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
	-webkit-box-shadow: 0px 0px 15px 5px rgba(142, 178, 255, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(142, 178, 255, .75);
	box-shadow: 0px 0px 15px 5px rgba(142, 178, 255, .75);
}